body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Dosis', sans-serif;
  width: 80%;
  margin: auto;
  margin-bottom: 100px
}

h1 {
text-align: center;
font-size: 80px;
margin: 10px;
}

#first {

}

#model {
  display: flex;
  justify-content: space-between;
}

#info {
  width: 50%;
}

#title {
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#info > ul {
  list-style-type: none;
  padding: 20px;
  height: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#info > ul > li {
  font-size: 25px;
}
