body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Dosis', sans-serif;
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}

h1 {
text-align: center;
margin: 10px;
font-size: 80px;
}

#main {
  display: flex;
  margin-top: 25px;
}

#main > section {
  align-self: center;
  width: 80%;
}

#main > aside {
  width: 20%;
  padding: 3px;
  align-self: center;
}

#second {
  margin-left: 10px;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
  margin: 10px;
  border-radius: 5px;
  width: 70px;
}

button:hover {
  font-weight: bolder;
  cursor: pointer;
  background-color: #B8BBBB;
}


#first {
  font-size: 20px;
}

#model {
  display: flex;
  justify-content: space-between;
  border: 1px solid #FFFFFF;
}

#model > #info {
  width: 60%;
}

#title {
  margin: 10px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#info > ul {
  list-style-type: none;
  padding: 20px;
  height: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#info > ul > li {
  font-size: 25px;
}

#modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding-top: 300px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
}

#modal-content {
  color: #000000;
  background-color: #D6DADA;
  width: 30%;
  margin: auto;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
}

#close-button {
  float: right;
  font-weight: bolder;
  font-size: 40px;
}

#close-button:hover {
  cursor: pointer;
}
